@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,75,100..900;1,75,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,75,100..900;1,75,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

.Naw {
    background-color: #00183d;
    width: 20%;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1000;
}

.Naw ul {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.Naw ul li {
    padding: 12px 25px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Naw ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cuadrado {
    width: 95%;
    height: 45%;
    padding: 30px 20px;
    background-color: rgb(43, 130, 165); 
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30%;
}


.Naw-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.Naw ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.Naw ul li a:hover {
  color: #d8bfd8; /* O el color que prefieras */
}

h1 {
    margin-left: 25%;
    margin-top: 7%;
    position: absolute;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Noto Kufi Arabic', serif;
}

h1 a {
    text-decoration: none;
    color: inherit;
}