.Naw {
    background-color: #333;
    width: 20%;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 1000;
}

.Naw ul {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
}

.Naw ul li {
    padding: 12px 25px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Naw ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cuadrado {
    width: 100%;
    height: 45%;
    padding: 30px 20px;
    background-color: rgb(67, 67, 148); 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.cuadrado h3 {
    color: white;
    margin: 0;
    font-size: 20px;
    text-align: center;
}