* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.App-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px); /* Resta la altura del header */
}

.App-main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  margin-left: 270px; /* Ancho del sidebar + padding */
}
